.header__logo {
  max-width: 103.74px;
  padding: 28px 0 31.6px 27px;
}

.header__logo:hover {
    transform: translate(10px);
  }
  
@media (min-width: 1280px) {
  .header__logo {
    max-width: 142px;
    padding: 45px 0 41px 0;
  }
}

