.card__delete {
  border: none;
  background-image: url(../../../images/button-delete.svg);
  background-color: transparent;
  min-height: 19.3px;
  min-width: 18px;
  position: absolute;
  top: 18px;
  right: 15px;
}
.card__delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
