@media (min-width: 768px) {
    .page__content {
      margin: 0 60px;
    }
  }
  
  @media (min-width: 1024px) {
    .page__content {
      margin: 0 100px;
    }
  }
  
  @media (min-width: 1280px) {
    .page__content {
      margin: 0 200px;
    }
  }