.profile__info {
  box-sizing: border-box;
  display: grid;
  align-items: baseline;
  justify-content: center;
  grid-template-columns: 200px 18px;
  grid-template-rows: auto auto;
  gap: 14px 10px;
  
 
}
@media (min-width: 1024px){
  .profile__info{
    grid-template-columns: 300px 24px;
  position: relative;
  left: 18px;
  top: -1px;
  }
}
