.profile__info {
  box-sizing: border-box;
  display: grid;
  align-items: baseline;
  justify-content: center;
  grid-template-columns: 200px 18px;
  gap: 14px 10px;

}
@media (min-width: 1024px){
  .profile__info{
    grid-template-columns: 300px 18px; 
  }
}
